# Maven
/target/
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Gradle (if also present)
.gradle
/build/

# Spring Boot
/logs/
*.log
*.txt
.env
application.properties.example # if used to store sensitive info

# IDE specific files
.idea/         # IntelliJ IDEA
*.iml          # IntelliJ IDEA
*.ipr          # IntelliJ IDEA
*.iws          # IntelliJ IDEA
.classpath     # Eclipse
.project       # Eclipse
.settings/     # Eclipse
bin/           # Eclipse
out/           # Eclipse
.vscode/       # VS Code

# Operating System Files
.DS_Store      # macOS
Thumbs.db      # Windows
Desktop.ini    # Windows

# Misc
*.swp
*.tmp
*~
